@font-face {
    font-family: $fontas;
    src: url('../FONTS/Pret/Pattaya-Regular.woff2') format('woff2'), url('../FONTS/Pret/Pattaya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}